.order-item {
    display: flex;
    gap: .5rem;
    align-items: center;

    &:not(:last-child) {
        border-bottom: 1px solid red;
    }

    .item-image img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        object-fit: cover;
    }

    .item-info {
        font-weight: 500;
        flex: 1;
        padding: 15px;
        vertical-align: middle;
        color: black;
        font-style: italic;
        text-shadow: 0 0 1px black;

        &::first-letter{
            color: #a6051a;
        }
    }

    .item-count{
        font-weight: 700;
        color: black;
        padding-right: 10px;

        .item-input {
            width: 6ch;
            border: 2px solid black;
        }
    }

    .item-actions {

        .btn-item {
            border-radius: 5px;
            padding: 3px;
            background-color: #fed700;
            margin-right: 10px;
            font-weight: 700;
            
            &:hover {
                box-shadow: 0 0 7px black;
                font-weight: bold;
                font-style: italic;
            }
        }
    }
}