@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

#root {
    font-family: "Ubuntu", sans-serif;
}

.login-container {
    width: 100vw;
    font-family: "Ubuntu", sans-serif;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: auto;
    overflow: hidden;
    background: linear-gradient(290deg, black 68%, #a6051a 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    position: relative;
}

.login-form {
    z-index: 1;
    padding: 1rem;
    font-family: "Ubuntu", sans-serif;
    background-color: white;
    color: black;
    border-radius: 0.5rem;
    border: 3px solid black;
    max-width: 400px;
    box-shadow: 1px 3px 10px black;
    font-style: italic;

    &::first-letter {
        color: #a6051a
    }

    .form-input {
        margin-top: 10px;
    }

    .form-label {
        font-weight: bold;

        &::first-letter {
            color: #a6051a
        }
    }

    h1 {
        text-align: center;
        margin-bottom: 1rem;
        border-bottom: 3px solid black;
        padding-bottom: 1rem;
    }
}



.login-form input {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
}

.login-form button {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 3px solid black;
    background-color: #ffeb00;
    color: black;
    font-weight: bolder;
    font-style: italic;
    font-size: 16px;
}