/* MAIN TABLE SECTION */
/* DEFINES TABLE STYLES ACCROSS ALL PROJECT */
.product-admin-table {
    border-collapse: collapse;
    flex: 1;
    width: 100%;

    th {
        padding: .75rem .5rem;
        background-color: #a6051a;
        color: #fed700;
        font-weight: bold;
        font-style: italic;
    }

    td,th {
        border: 2px solid black;
    }

    tbody {

        tr:nth-child(even){
            background-color: #fbeda1;
        }

        .table-image{

            text-align: center;
            vertical-align: middle;
            padding: 5px;
            
            img{
                width: 55px;
                height: 55px;
                background-color: white;                
                object-fit: cover;
                border-radius: 50%;
            }
        }
        .table-name{
            font-size: 1rem;
            font-style: italic;
            color: #a6051a;
            text-align: center;
        }
        .table-description{
            font-style: italic;
            color: black;
            width: 50%;

                .desctiption-container {
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    overflow: hidden;
                    -webkit-box-orient: vertical;
                }
        }
        .table-date{
            text-align: center;
        }
        .table-price{
            text-align: center;
            color: #a6051a;
        }
        .table-actions {
            text-align: center;

            button.edit-button {
                background-color: #fed700;
                border: 1px solid black;
                padding: 3px;
                border-radius: 20%;

                &:hover {
                    text-decoration: none;
                    box-shadow: 0 0 5px black;
                }
            }

            button.delete-button {
                background-color: red;
                border: 1px solid black;
                padding: 3px;
                border-radius: 20%;

                &:hover {
                    text-decoration: none;
                    box-shadow: 0 0 5px black;
                }
            }
        }
    }
}

/* MEDIA QUERY SECTION */
@media screen and (width>500px) {
.product-admin-table {
    tbody {
        .table-actions {
            button.edit-button {
                margin-right: 2px;
            }
            button.delete-button {
                margin-left: 2px;
            }
        }
    }
}
}